* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    margin: 20px auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
}



.product-content {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    margin-bottom: 60px;
}

.come-back {
    display: inline-block;
    height: 38px;
    padding: 8px 16px;
    background: #2f2f2f;
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
    transition: background 0.3s ease;
    white-space: nowrap;
    margin-top: 20px;
     border: 1px solid rgb(255, 255, 255);

}
.come-back:hover {
    background: white;
    color: black;
    border: 1px solid black;
}

.product-image {
    width: 55%;
    max-width: 700px;
    height: auto;
    object-fit: cover;

}

.product-info {
    width: 45%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: sticky;
    top: 100px;
    align-self: flex-start;
    flex-shrink: 0;
}

.name {
    font-size: 25px;
    font-weight: 350;
    color: rgb(139, 137, 137);
    margin-bottom: -15px;
}

.product-code {
    font-size: 25px;
    font-weight: 350;
    color: rgb(139, 137, 137);
    margin-bottom: 10px;
}

/* избранноe */
.addToFavoriteBackSlyle {
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-self: flex-start;
}

.addToFavoriteSlyle {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.price {
    font-size: 17px;
    border: 1px solid black;
    padding: 6px;
    text-align: center;
    font-weight: 300;
    width: fit-content;
}

.typeCloth {
    font-size: 14px;
    font-weight: 300;
    color: rgb(139, 137, 137);
    cursor: pointer;
}
.typeCloth:hover {
    text-decoration: underline;
}

.typeClothName {
    font-size: 13.5px;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
    margin-top: 10px;
}

.store-availability {
    margin-top: 10px;
}
.store-item {
    margin-bottom: 15px;
}
.storeAdress {
    font-size: 13.5px;
    background-color: #ededed75;
    width: 300px;
    padding: 6px;
    font-weight: 300;
}
.availability {
    font-size: 13.5px;
    padding: 6px;
    font-weight: 300;
}



@media (max-width: 1240px) {
    .storeAdress {
        width: 210px;
    }
}

@media (max-width: 992px) {
    .product-image {
        margin-left: 60px;
    }
    .come-back {
        display: none; 
    }
}

@media (max-width: 768px) {
    .product-content {
        flex-direction: column;
        gap: 30px;
    }

    .product-image {
        width: 78%;
    }

    .product-info {
        align-self: center;
         width: 80%;
    }
    .name {
        text-align: center;
    }

    .product-code {
        text-align: center;
    }
    .addToFavoriteBackSlyle {
        margin: 0 auto;   
    }
    .price {
        margin: 0 auto; 
    }
    .storeAdress {
        width: 460px;
    }

}
