* {
    box-sizing: border-box;
}

body, html {
    margin: 0; 
       
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Шапка */
header {
    
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px;

    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
}

.header-icon {

    width: 40px;  /* Размер изображения: 24px ширина */
    height: 40px;  /* 24px высота */
    object-fit: contain;  /* Сохраняет пропорции, если heart.png не квадратное */
    background: transparent;  
}
.search {
    flex: 1;
}

.search input {
    width: 60%;
    padding: 8px;
}

.brand {
    flex: 1;
    text-align: center;
    letter-spacing: 1px;
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
}

.header-icons {
    
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.header-icons button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
}

.cont1 {
margin-top: 20px;
    margin-left: 90px;
    display: flex;
    flex-direction: row; /* элементы в строку */
    gap: 5px; 
}

/*кнопка возврата*/
.come-back {
    
    height: 38px;
    width: 125px;
    padding: 8px 16px;
    background: #2f2f2f;
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
    transition: background 1s ease;
    white-space: nowrap;
    position: fixed;
}

.come-back:hover {
    background: white;
    color: black;
    border:  1px solid black;
}

/*фотография*/
.product-image {
    height: 950px;
    width: 700px;
    object-fit: cover;
}

.container {
    
    margin-bottom: 60px;
    margin-left: 200px;
    margin-right: 120px;
    display: flex;  
    flex-direction: row; /* элементы в строку */
    gap: 70px; /* расстояние между элементами */
}
.item {
    padding: 10px;
    background: #f0f0f0;
}

/*описание*/








/*футер*/

footer {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #ccc;
    font-size: 0.9em;
    background: #f9f9f9;
    margin-top: auto;
}



.footer-center {
    flex: 1 1 100px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.footer-center a {
    text-decoration: none;
    color: #333;
    transition: transform 0.2s ease;
    display: inline-block;
}



.footer-center img {
    width: 30px; 
    height: 30px; 
    object-fit: contain;
}