* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Название */
.name-element {
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.AboutUsTextContainer {
    margin: 0 150px 60px 150px; 
}

.Discription {
    font-weight: 300;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
}

.boldText {
    font-weight: bold;
    letter-spacing: 1px;
}

.QuestionBold {
    font-weight: bold;
    font-size: 18px;
    margin-top: 80px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.FrameWhithTextAndIcon {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 14px;
    border: 2px solid #eee;
    padding: 10px;
    display: flex;
    align-items: center;
}


@media (max-width: 992px) {

    .AboutUsTextContainer {
        margin: 0 100px 60px 100px; 
    }
}

@media (max-width: 768px) {
    .AboutUsTextContainer {
        margin: 0 60px 60px 60px; 
    }
}


@media (max-width: 576px) {
    .AboutUsTextContainer {
        margin: 0 20px 60px 20px; 
    }
}
